<!DOCTYPE html>
{% set rom_url %}{{ url_for('serve_media', filename=rom) }}{% endset %}
<html>
<head>
<style>
body, html, #game { margin: 0; padding: 0; width:100%; height:100%; max-width:100%; }
</style>
</head>
<body>
<div id="game"><noscript><p>EmulatorJS requires JavaScript. Alternatively, download the ROM file: <a href="{{ rom_url }}">{{ rom }}</a>.</p></noscript></div>
<script data-romurl="{{ rom_url }}">
EJS_player = "#game";
EJS_pathtodata = 'https://cdn.emulatorjs.org/stable/data/';
EJS_gameUrl = document.currentScript.dataset.romurl;
var ext = EJS_gameUrl.split('.').slice(-1)[0];
EJS_core = {sfc: "snes", z64: "n64", gbc: "gb"}[ext] || ext;
</script>
<script src="https://cdn.emulatorjs.org/stable/data/loader.js"></script>
</body>
</html>