body {
  overflow-x: auto;
}

up-modal .back {
  display: none;
}

form.add > div > img.image,
form.add > div > video.video {
  max-height: 50vh;
}

form.add table.images img {
  max-height: 25vh;
}

.results.gallery {
  margin: auto;
}

.results.gallery > div {
  width: 100%;
  text-align: center;
}

.results.gallery img,
.results.gallery video {
  width: auto;
  max-height: 100vh;
}

.clickable, .alt-clickable {
  cursor: pointer;
}

.alt-clickable.tag-nsfw:not([data-unblur="true"]) > video {
  pointer-events: none;
}

.tag-nsfw:not([data-unblur="true"]) > img,
.tag-nsfw:not([data-unblur="true"]) > video {
  filter: blur(16px);
}

.rendering-pixelated article.item .content img,
.rendering-pixelated article.item .content video,
.rendering-pixelated .sl-image img {
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

/* workaround for old or no-js browsers not loading icons and buttons size not being set */
[uk-icon]:not(.uk-icon) > [class="uk-visible@s"] {
  display: initial !important;
}

/* ensure carousels gracefully fall back to stacked images with no JS */
div[uk-slider]:not(.uk-slider) .uk-slider-items.uk-grid {
  flex-wrap: wrap;
}

/* make dropdown links in breadcrumbs more clickable by forcing container width */
.uk-breadcrumb .uk-dropdown > ul.uk-list > li > a {
  display: inline-block;
  width: 100%;
}