<!DOCTYPE html>
{% set title %}{% block title %}{% endblock %}{% endset %}
{% set canonical %}{% block canonical %}{% endblock %}{% endset %}
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% if title %}{{ title }} | {% endif %}{{ config.APP_ICON }} {{ config.APP_NAME }}</title>
  <link rel="stylesheet" href="{{ url_for('serve_module', module='uikit', filename='css/uikit.min.css') }}" />
  <script src="{{ url_for('serve_module', module='uikit', filename='js/uikit.min.js') }}"></script>
  <script src="{{ url_for('serve_module', module='uikit', filename='js/uikit-icons.min.js') }}"></script>
  {% if canonical %}
    <link rel="canonical" href="{{ config.LINKS_PREFIX }}{{ canonical }}" />
  {% endif %}
</head>
<body>
  <nav class="uk-navbar-container" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
    <div class="uk-container uk-container-expand" uk-navbar>
      <div class="uk-navbar-left uk-width-expand">
        <a class="uk-logo" href="{{ url_for('index') }}">
          <span uk-icon="icon: home"></span>
          {{ config.APP_NAME }}
        </a>
        <form class="uk-search uk-search-navbar uk-width-auto uk-flex-1" action="{{ url_for('search') }}">
          <input class="uk-search-input" type="search" name="query" placeholder="Search..." value="{{ query }}" required>
          <button class="uk-search-icon-flip" uk-search-icon></button>
        </form>
      </div>
      <div class="uk-navbar-right uk-margin-left">
        <a class="uk-button uk-button-default uk-icon-link" uk-icon="plus" href="{{ url_for('add_item') }}">
          <span class="uk-visible@s">Create</span>
        </a>
      </div>
    </div>
  </nav>
  <div class="uk-container uk-margin">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <p uk-alert class="uk-alert-{{ category }}">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </div>
</body>
</html>