{% set image %}{% include 'item-image.html' %}{% endset %}
{% set alttext %}{% if item.alttext %}{{ item.alttext }}{% else %}{{ item.description }}{% endif %}{% endset %}
{% set placeholder %}
  <div class="uk-overflow-hidden">
    <span class="{% if folder %} uk-heading-medium {% else %} uk-heading-large {% endif %}">
      {%- if item.doc -%} 📄
      {%- elif item.swf -%} 📀
      {%- elif item.rom -%} 🕹️
      {%- elif item.font -%} 🔣
      {%- elif item.model -%} 📦
      {%- elif item.audio -%} 🎶
      {%- elif item.type == 'carousel' -%} 🖼️
      {%- endif -%}
    </span>
  </div>
{% endset %}
{%- set classes -%}
  {% for tag in item.systags %} tag-{{ tag }} {% endfor %} content
{%- endset -%}
<div {% if folder %} style="display: inline-block; width: 50%; object-fit: cover;" {% endif %} {% if full and (item.image or item.text) and 'nsfw' not in item.systags %} style='height:100%; background-image: url("{% if external %}{% include 'links-prefix.txt' %}{% endif %}{{ url_for('serve_thumb', iid=item.id) }}"); background-size: contain; background-position: top center; background-repeat: no-repeat;' {% endif %} {% if full and (item.model or item.font or item.doc or item.swf) %} class="uk-height-1-1 uk-height-viewport {{ classes }}" {% elif full and (item.image or item.text) %} class="clickable uk-overflow-hidden {{ classes }}" tabindex="0" {% else %} class="alt-clickable uk-text-center uk-overflow-hidden {{ classes }}" {% endif %}>
  {% if item.text %}
    <img class="uk-width-expand" src="{% if external %}{% include 'links-prefix.txt' %}{% endif %}{{ image }}{% if time %}?v={{ time }}{% endif %}" alt="{{ item.text }}" title="{{ item.text }}" {% if full %} onload="this.parentElement.style='';" {% else %} loading="lazy" {% endif %} />
  {% elif item.model or item.font or item.doc or item.swf or item.rom or (item.type == 'carousel' and not full) %}
    {% if full %}
      {% set iframe %}
        {%- if item.model -%} model_viewer
        {%- elif item.font -%} font_viewer
        {%- elif item.swf -%} flash_player
        {%- elif item.rom -%} emulator_player
        {%- endif -%}
      {% endset %}
      {% if iframe %}
        {% if item.font %}
          <p>(Includes text from <a href="https://typeheist.co/blog/type-testing-template/" target="_blank"><i>Type Tester</i></a> by <a href="https://typeheist.co" target="_blank">TYPEHEIST.CO</a>)</p>
        {% endif %}
        <iframe class="uk-width-expand uk-height-viewport" src="{% if external %}{% include 'links-prefix.txt' %}{% endif %}{{ url_for(iframe, iid=item.id) }}"></iframe>
      {% elif item.doc %}
        {% set docurl %}{% if external %}{% include 'links-prefix.txt' %}{% endif %}{{ url_for('serve_media', filename=item.doc) }}{% endset %}
        <object class="uk-width-expand uk-height-1-1" data="{{ docurl }}">
          Your browser does not support this file. Download it instead: <a href="{{ docurl }}">{{ item.doc }}</a>.
        </object>
      {% endif %}
    {% elif item.image %}
      <img class="uk-width-expand" src="{% if external %}{% include 'links-prefix.txt' %}{% endif %}{{ image }}" {% if not full %} loading="lazy" {% endif %} />
    {% else %}
      {{ placeholder }}
    {% endif %}
  {% elif item.type == 'carousel' and full %}
    <div uk-slider="center: true">
      <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
        <div class="uk-slider-items uk-grid">
          {% for image in item.images %}
            <div class="uk-width-4-5"><img src="{% if external %}{% include 'links-prefix.txt' %}{% endif %}{{- url_for('serve_media', filename=image) -}}" alt="{{ alttext }}" title="{{ alttext }}" /></div>
          {% endfor %}
        </div>
        <a style="color: gray;" class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a style="color: gray;" class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
      </div>
      <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
    </div>
  {% elif item.image %}
    <img class="uk-width-expand" src="{% if external %}{% include 'links-prefix.txt' %}{% endif %}{{ image }}" alt="{{ alttext }}" title="{{ alttext }}" {% if full %} onload="this.parentElement.style='';" {% else %} loading="lazy" {% endif %} />
  {% elif item.video %}
    {% if full or not config.VIDEO_THUMBS or layout == 'gallery' %}
      <video class="uk-width-expand" src="{% if external %}{% include 'links-prefix.txt' %}{% endif %}{{ url_for('serve_media', filename=item.video) }}"
             aria-label="{{ alttext }}" title="{{ alttext }}" {% if full %} controls {% else %} autoplay muted tabindex="-1" {% endif %} loop></video>
    {% else %}
      <img class="uk-width-expand" src="{% if external %}{% include 'links-prefix.txt' %}{% endif %}{{ url_for('serve_thumb', iid=item.id) }}" alt="{{ alttext }}" title="{{ alttext }}" loading="lazy" />
    {% endif %}
  {% elif item.audio %}
    {%- set midi = item.audio.lower().endswith((".mid", ".midi")) -%}
    {% if full and midi %}
      <iframe class="uk-width-expand uk-height-medium" src="{% if external %}{% include 'links-prefix.txt' %}{% endif %}{{ url_for('static', filename='spessasynth/embed.html') }}?midi={{ url_for('serve_media', filename=item.audio) }}"></iframe>
    {% else %}
      {{ placeholder }}
      {% if not midi %}
        <audio {% if not full %} tabindex="-1" {% endif %} class="uk-width-expand" src="{% if external %}{% include 'links-prefix.txt' %}{% endif %}{{ url_for('serve_media', filename=item.audio) }}" controls loop></audio>
      {% endif %}
    {% endif %}
  {% endif %}
</div>