{% extends "base.html" %}
{% block title %}📌 Viewing {{ filename }}{% endblock %}
{% block content %}
{% raw %}
<!-- <style>
  img { max-width: 49%; border-radius: 10px; }
  .meta { display: inline-block; max-width: 49%; vertical-align: top; padding: 1em; box-sizing: border-box; }
</style> -->
<!-- <img src="{{ url_for('serve_media', filename=filename) }}" />
<div class="meta">
  <p>{{ meta.description }}</p>
  <p><strong>File:</strong> {{ filename }}</p>
  <p><strong>Link:</strong> <a href="{{ url_for('view_item', filename=filename) }}">{{ request.url }}</a></p>
</div> -->
{% endraw %}
<div class="uk-flex uk-flex-wrap">
  <div class="uk-width-1-1 uk-width-1-2@s uk-padding-small">
    {% if item.image %}
      <img src="{{ url_for('serve_media', filename=filename) }}" />
    {% endif %}
  </div>
  <div class="uk-width-1-1 uk-width-1-2@s uk-padding-small">
    <h3>{% include "item-title.html" %}</h3>
    <span>{{ item.created }}</span>
    <p>{{ item.description }}</p>
    <a class="uk-button uk-button-default" href="{{ url_for('add_item') }}?item={{ item.id }}">Edit</a>
    <a class="uk-button uk-button-danger" href="{{ url_for('add_item') }}?item={{ item.id }}">Remove</a>
  </div>
</div>
{% endblock %}