{% set image %}{% include 'item-image.txt' %}{% endset %}
{% set alttext %}{% if item.alttext %}{{ item.alttext }}{% else %}{{ item.description }}{% endif %}{% endset %}
{% set placeholder %}
  <div class="uk-overflow-hidden">
    <span class="uk-heading-large">
      {%- if item.doc -%} 📄
      {%- elif item.model -%} 📦
      {%- elif item.audio -%} 🎶
      {%- endif -%}
    </span>
  </div>
{% endset %}
<div {% if full and (item.model or item.doc) %} class="uk-height-1-1 uk-height-viewport" {% elif full and (item.image or item.text) %} class="clickable" tabindex="0" {% else %} class="uk-text-center" {% endif %}>
  {% if item.text %}
    <img class="uk-width-expand" src="{% if external %}{% include 'links-prefix.txt' %}{% endif %}{{ image }}" alt="{{ item.text }}" title="{{ item.text }}" />
  {% elif item.model or item.doc %}
    {% if full %}
      {% if item.model %}
        <iframe class="uk-width-expand uk-height-1-1" src="{% if external %}{% include 'links-prefix.txt' %}{% endif %}{{ url_for('model_viewer', iid=item.id) }}"></iframe>
      {% elif item.doc %}
        <object class="uk-width-expand uk-height-1-1" data="{% if external %}{% include 'links-prefix.txt' %}{% endif %}{{ url_for('serve_media', filename=item.doc) }}"></object>
      {% endif %}
    {% elif item.image %}
      <img class="uk-width-expand" src="{% if external %}{% include 'links-prefix.txt' %}{% endif %}{{ image }}" />
    {% else %}
      {{ placeholder }}
    {% endif %}
  {% elif item.image %}
    <img class="uk-width-expand" src="{% if external %}{% include 'links-prefix.txt' %}{% endif %}{{ image }}" alt="{{ alttext }}" />
  {% elif item.video %}
    <video class="uk-width-expand" src="{% if external %}{% include 'links-prefix.txt' %}{% endif %}{{ url_for('serve_media', filename=item.video) }}"
           aria-label="{{ alttext }}" {% if full %} controls {% else %} autoplay muted tabindex="-1" {% endif %} loop></video>
  {% elif item.audio %}
    {{ placeholder }}
    <audio {% if not full %} tabindex="-1" {% endif %} class="uk-width-expand" src="{% if external %}{% include 'links-prefix.txt' %}{% endif %}{{ url_for('serve_media', filename=item.audio) }}" controls loop></audio>
  {% endif %}
</div>