{% extends "base.html" %}
{% block title %}{% include "item-title.txt" %}{% endblock %}
{% block canonical %}{{ url_for('view_item', iid=item.id) }}{% endblock %}
{% block metadata %}
  <meta name="og:title" content="{{ title }}" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="og:description" content="{{ item.description }}" />
  <meta name="twitter:description" content="{{ item.description }}" />
  <meta name="description" content="{{ item.description }}" />
  {% if item.image %}
    <meta name="og:image" content="{{ url_for('serve_media', filename=item.image) }}" />
    <meta name="twitter:image" content="{{ url_for('serve_media', filename=item.image) }}" />
    <meta name="twitter:card" content="summary_large_image" />
  {% elif item.video %}
    <meta name="og:video" content="{{ url_for('serve_media', filename=item.video) }}" />
  {% endif %}
{% endblock %}
{% block content %}
  {% with path=item.id, always=false %}
    {% include "breadcrumbs.html" %}
  {% endwith %}
  <div class="uk-flex uk-flex-wrap item" data-item-id="{{ item.id }}">
    <div class="uk-width-1-1 uk-width-1-2@s uk-padding-small">
      {% with full=true %}
        {% include "item-content.html" %}
      {% endwith %}
    </div>
    <div class="uk-width-1-1 uk-width-1-2@s uk-padding-small">
      <h3 class="uk-text-break">{% include "item-title.txt" %}</h3>
      {% if item.creator %}
        by <a href="{{ url_for('view_user', username=item.creator) }}">{{ item.creator }}</a>
      {% endif %}
      {% if item.datetime %}
        at <span>{{ item.datetime }}</span>
      {% endif %}
      {% if item.link %}
      <div class="uk-text-truncate">
        <a href="{{ item.link }}" target="_blank">{{ item.link }}</a>
      </div>
      {% endif %}
      <div class="uk-margin">
        {% for tag in item.systags %}
          <button class="uk-button uk-button-default uk-button-small" uk-toggle="target: #modal-systags-{{ tag }}">{{ tag }}</button>
          <div id="modal-systags-{{ tag }}" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
              <button class="uk-modal-close-default" type="button" uk-close></button>
              <h2 class="uk-modal-title">"{{ tag }}" marking</h2>
              <p>
                {% if tag == 'ai' %}
                  This media is marked as being generated, in whole or substantial part, by artificial intelligence models.
                {% elif tag == 'oc' %}
                  The user who uploaded this media has marked it as being their own original content.
                {% endif %}
              </p>
            </div>
        </div>
        {% endfor %}
      </div>
      <p class="uk-text-break" style="white-space: pre-line;">{{ item.description }}</p>
      <div class="uk-margin uk-grid-small" uk-grid>
        <div>
          <button class="uk-icon-button" uk-icon="icon: forward" onclick="(function(){ navigator.clipboard.writeText(document.querySelector('link[rel=canonical]').href); UIkit.notification('Link copied to clipboard'); })()"></button>
        </div>
        <div class="pin">
          <button class="uk-button uk-button-default uk-disabled" type="button" disabled>
            Pin <span uk-icon="icon: tag"></span>
          </button>
          <div uk-dropdown="mode: click; stretch: y;">
            <ul class="uk-list">
              <li><button class="uk-button uk-button-default uk-button-small" uk-toggle="target: #new-collection">New Collection</button></li>
            </ul>
          </div>
        </div>
        {% if not current_user.is_authenticated or get_item_permissions(item).edit %}
          <div>
            <a class="uk-button uk-button-default uk-icon-link" href="{{ url_for('add_item') }}?item={{ item.id }}" rel="nofollow">
              Edit <span uk-icon="icon: file-edit"></span>
            </a>
          </div>
          <div>
            <a class="uk-button uk-button-danger" href="{{ url_for('remove_item') }}?item={{ item.id }}" rel="nofollow">
              Delete <span uk-icon="icon: trash"></span>
            </a>
          </div>
        {% endif %}
      </div>
      <div class="uk-padding uk-padding-remove-left uk-padding-remove-right">
      <!-- { % if subitems | length > 0 % } -->
        <!-- <hr /> -->
        <form method="POST">
          <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
              <input class="uk-input" type="text" name="comment" placeholder="{% if current_user.is_authenticated %} What's on your mind? " {% else %} Please login to comment. " disabled {% endif %} required />
            </div>
            <div class="uk-inline uk-width-1-1">
              <input class="uk-input uk-button uk-button-default {% if not current_user.is_authenticated %} uk-disabled" disabled {% else %} " {% endif %} type="submit" value="Comment" />
              <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: comment"></span>
            </div>
          </div>
        </form>
        {% for item in subitems %}
          {% set iid %}{{ item.id.split('/')[-1] }}{% endset %}
          <div class="uk-card uk-margin uk-card-default uk-card-small" id="{{ iid }}">
            <div class="uk-card-header">
              <h3 class="uk-card-title">
                {% if item.creator %}
                  <a class="uk-link-text" href="{{ url_for('view_user', username=item.creator) }}">{{ item.creator }}</a>
                {% else %}
                  <i>Anon</i>
                {% endif %}
                <a href="#{{ iid }}" class="uk-text-small uk-link-reset">
                  {% if item.datetime %}
                    # {{ item.datetime }}
                  {% else %}
                    #{{ iid }}
                  {% endif %}
                </a>
                {% if get_item_permissions(item).edit %}
                  <a href="{{ url_for('remove_item', item=item.id) }}" class="uk-icon-button uk-float-right" uk-icon="icon: trash" title="Delete"></a>
                {% endif %}
              </h3>
            </div>
            <div class="uk-card-body">{{ item.text }}</div>
            <!-- <div class="uk-card-footer"></div> -->
          </div>
        {% endfor %}
      <!-- { % endif % } -->
      </div>
    </div>
  </div>
  <div id="new-collection" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <button class="uk-modal-close-default" uk-close></button>
      <h2 class="uk-modal-title">New Collection</h2>
      <input class="uk-input" type="text" placeholder="Name" />
      <button class="uk-button uk-button-primary">Create</button>
    </div>
  </div>
{% endblock %}