{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="uk-margin">
      <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon" uk-icon="icon: user"></span>
        {{ form.username(class_="uk-input", placeholder="Username") }}
      </div>
    </div>
    <div class="uk-margin">
      <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon" uk-icon="icon: lock"></span>
        {{ form.password(class_="uk-input", placeholder="Password") }}
      </div>
    </div>
    <div class="uk-margin">
      <div class="uk-inline uk-width-1-1">
        {{ form.submit(class_="uk-input uk-button uk-button-default") }}
        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
      </div>
    </div>
  </form>
{% endblock %}