{% extends "base.html" %}
{% block section %}{{ _('Settings') }}{% endblock %}
{% block content %}
  <h2>{{ _('API Tokens') }}</h2>
  <form method="POST">
    <button class="uk-button uk-button-default" name="action" value="create-token" type="submit">{{ _('Create New Token') }}</button>
  </form>
  <form method="POST">
    <input type="hidden" name="action" value="delete-token" />
    <ul class="uk-list">
      {% for token in tokens %}
        <li>
          {{ token.date }} — {{ token.name }}
          <button class="uk-icon-button uk-button-danger" uk-icon="trash" title="{{ _('Delete') }}" name="token" value="{{ token.hash }}" type="submit"></button>
        </li>
      {% endfor %}
    </ul>
  </form>

  <!-- <h2>{{ _('Webhooks') }}</h2>
  <form method="POST">
    <button class="uk-button uk-button-default" name="action" value="create-webhook" type="submit">{{ _('Create New Webhook') }}</button>
  </form>
  <form method="POST">
    <input type="hidden" name="action" value="delete-webhook" />
    <ul class="uk-list">
      {% for webhook in webhooks %}
        <li>
          {{ webhook }}
          <button class="uk-icon-button uk-button-danger" uk-icon="trash" title="{{ _('Delete') }}" name="webhook" value="{{ webhook }}" type="submit"></button>
        </li>
      {% endfor %}
    </ul>
  </form> -->

  {#
    Inbound Feeds...
    ...
    Change Password...
    Delete Account...
  #}
{% endblock %}