{% extends "base.html" %}
{% block section %}{{ _('Settings') }}{% endblock %}
{% block section_pre %}<a class="uk-icon-button" href="{{ url_for('view_user', username=user.username) }}" uk-icon="arrow-left" title="{{ _('Back') }}" uk-tooltip="{{ _('Back') }}"></a>{% endblock %}
{% block content %}
  <form method="POST">
    <h2>
      {{ _('Profile') }}
      <button class="uk-button uk-button-default" type="submit">{{ _('Save') }}</button>
    </h2>
    <input type="hidden" name="action" value="update-profile" />
    <div class="uk-inline uk-width-1-1">
      <span class="uk-form-icon" uk-icon="user"></span>
      <input class="uk-input" type="text" name="title" placeholder="{{ _('Title') }}" value="{{ user.data.title }}" />
    </div>
  </form>
  <h2>{{ _('API Tokens') }}</h2>
  <form method="POST">
    <button class="uk-button uk-button-default" name="action" value="create-token" type="submit">{{ _('Create New Token') }}</button>
  </form>
  <form method="POST">
    <input type="hidden" name="action" value="delete-token" />
    <ul class="uk-list">
      {% for token in tokens %}
        <li>
          {{ token.date }} — {{ token.name }}
          <button class="uk-icon-button uk-button-danger" uk-icon="trash" title="{{ _('Delete') }}" uk-tooltip="{{ _('Delete') }}" name="token" value="{{ token.hash }}" type="submit"></button>
        </li>
      {% endfor %}
    </ul>
  </form>

  <!-- <h2>{{ _('Webhooks') }}</h2>
  <form method="POST">
    <button class="uk-button uk-button-default" name="action" value="create-webhook" type="submit">{{ _('Create New Webhook') }}</button>
  </form>
  <form method="POST">
    <input type="hidden" name="action" value="delete-webhook" />
    <ul class="uk-list">
      {% for webhook in webhooks %}
        <li>
          {{ webhook }}
          <button class="uk-icon-button uk-button-danger" uk-icon="trash" title="{{ _('Delete') }}" name="webhook" value="{{ webhook }}" type="submit"></button>
        </li>
      {% endfor %}
    </ul>
  </form> -->

  {#
    Inbound Feeds...
    ...
    Change Password...
    Delete Account...
  #}
{% endblock %}