{% extends "base.html" %}
{% block title %}User {{ user.username }}{% endblock %}
{% block metadata %}
  <link rel="alternate" type="application/atom+xml" href="{{ url_for('view_user_feed', username=user.username) }}" title="@{{ user.username }} Feed" />
{% endblock %}
{% block content %}
  <div class="uk-text-center">
    <h2>{{ user.username }}</h2>
    {% if user.data.propic %}
      {% with item=load_item(user.data.propic) %}
        <div class="uk-width-medium uk-align-center">
          {% include "item-content.html" %}
        </div>
      {% endwith %}
    {% endif %}
    <p>{{ user.data.description }}</p>
    {% if current_user.is_authenticated and current_user.username == user.username %}
      <a class="uk-button uk-button-default uk-icon-link" href="{{ url_for('export_api') }}" target="_blank">
        Export Data <span uk-icon="icon: download"></span>
      </a>
    {% endif %}
  </div>
  <hr />
  {% for folder, collection in collections.items() %}
    {% if collection | length > 0 %}
      <h3 class="uk-text-center">{{ folder }}</h3>
      {% include "results.html" %}
    {% endif %}
  {% endfor %}
{% endblock %}